<h1>Hello Owners!</h1>

<h1>Owners</h1>
 
<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
  </tr>
 
  <% @owners.each do |owner| %>
    <tr>
      <td><%= link_to owner.username, owner_path(owner) %></td>
      <td><%= owner.email %></td>
    </tr>
  <% end %>
</table>

<%= link_to "New Owner", new_owner_path %>