<% profile = @user.profile %>
<p>
  <strong>Contact Info:</strong>
  <%= profile.contact_info %>
</p>
 
<p>
  <strong>Experience:</strong>
  <%= profile.experience %>
</p>

<p>
  <strong>Preferred Languages:</strong>
  <%= profile.pref_languages %>
</p>

<p>
  <strong>Preferred Task Types</strong>
  <%= profile.pref_task_types %>
</p>